In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("DATA_SET_DV (1).csv", sep=";")
df

,ID,PAIS,FECHA ENVÍO,RUTA,ID FACILITADOR,GRUP ID,STATUS,ESTADO,CENTRO,TIPO,Clasificacion,LAST_UPDATED,PLACA,VEHICULO,DRIVER,COSTO,VOLUMEN
0,4.809749e+10,UK,13/9/2017,69726.0,KKP6,L14,A,robo,VILA_GUILHERME,C,Stolen,13/9/2019,ML0DTC5101,Utilitários,2797.0,6.08,2.625.000.000
1,4.818363e+10,UK,9/12/2017,NaN,KC_ZK,S7_17,A,perdido,BRSP02,F,Lost at Station,16/12/2019,NaN,NaN,NaN,8.35,7.260.000.000
2,4.806439e+10,UK,7/8/2017,21471.0,KC_ZK,S13,A,robo,VILA_GUILHERME,C,Stolen,12/8/2019,ML0HOJ8196,Utilitários,731.0,10.15,2.464.000.000
3,4.817945e+10,UK,4/12/2017,NaN,KC_VG,N1_3,A,perdido,BRSP02,F,Lost at Station,16/12/2019,NaN,NaN,NaN,25.95,3.780.000.000
4,4.817408e+10,UK,27/11/2017,116429.0,KKP6,L9_2,A,robo,BRSP02,F,Stolen,28/11/2019,ML0FHJ9374,Utilitários,5234.0,11.75,880.000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471971,4.091755e+10,UK,23/10/2021,61041666.0,KKP22,9,A,perdido,CAMPINAS,C,Lost on Route,24/10/2021,ML0EYZ4F91,Utilitários,266175.0,4.94,1.330.000.000
471972,4.094655e+10,UK,27/10/2021,61467577.0,KKP19,6,A,awaiting_police_report,BRXSP10,C,Stolen,28/10/2021,ML0GCV8199,Motocicleta,128276.0,12.17,1.020.000.000
471973,4.094433e+10,ESP,25/10/2021,NaN,KTN1,C1_4,A,stale,MXCD01,F,Stale at Station,30/10/2021,NaN,NaN,NaN,4.71,32.000.000
471974,4.094730e+10,ESP,27/10/2021,NaN,KVR1,A4_4,A,robo,MXCD03,F,Stolen on Way,30/10/2021,NaN,NaN,NaN,13.72,11.781.000.000
471975,4.093112e+10,UK,29/10/2021,61651768.0,KKP6,9,A,awaiting_police_report,BRXSP8,C,Stolen,30/10/2021,ML0EAV1D73,Utilitários,50774.0,24.25,17.952.000.000

In [17]:
info_c_f = df.shape
print(f"La cantidad de filas son: {info_c_f[0]}")
print(f"La cantidad de columnas son: {info_c_f[1]}")

<class 'int'>
La cantidad de filas son: 471976
La cantidad de columnas son: 17

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471976 entries, 0 to 471975
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              471962 non-null  float64
 1   PAIS            471950 non-null  object
 2   FECHA ENVÍO     471223 non-null  object
 3   RUTA            343793 non-null  float64
 4   ID FACILITADOR  471962 non-null  object
 5   GRUP ID         471953 non-null  object
 6   STATUS          471962 non-null  object
 7   ESTADO          471962 non-null  object
 8   CENTRO          471924 non-null  object
 9   TIPO            471962 non-null  object
 10  Clasificacion   471962 non-null  object
 11  LAST_UPDATED    471962 non-null  object
 12  PLACA           342028 non-null  object
 13  VEHICULO        342036 non-null  object
 14  DRIVER          342036 non-null  float64
 15  COSTO           470843 non-null  float64
 16  VOLUMEN         471925 non-null  object
dtypes: float64(4), object(13)
memory usage: 61.2+ MB

In [79]:
for i in df.isnull().sum():
    total = info_c_f[0]
    x = i * 100
    result = x / total
    print(f"este numero {i} representa este porcentaje de nulos: {result:.2f}%")

este numero 14 representa este porcentaje de nulos: 0.00%
este numero 26 representa este porcentaje de nulos: 0.01%
este numero 753 representa este porcentaje de nulos: 0.16%
este numero 128183 representa este porcentaje de nulos: 27.16%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 23 representa este porcentaje de nulos: 0.00%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 52 representa este porcentaje de nulos: 0.01%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 14 representa este porcentaje de nulos: 0.00%
este numero 129948 representa este porcentaje de nulos: 27.53%
este numero 129940 representa este porcentaje de nulos: 27.53%
este numero 129940 representa este porcentaje de nulos: 27.53%
este numero 1133 representa este porcentaje de nulos: 0.24%
este numero 51 representa este porcentaje de nulos: 0.01%